# Ignore everything in root except specific files
/*
!LICENSE.md
!CLAUDE.md
!README.md
!PaperPrePrint.pdf
!xAct/
!.gitignore

# Within xAct directory, ignore documentation source files
xAct/Hamilcar/Documentation/**/*.m

# Standard development files to ignore
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Mathematica specific
*.mx
*.wl~
*.m~
*.nb~

# Build artifacts
*.log
*.aux
*.out
*.toc